@font-face {
    font-family: "RussianRail G Pro";

    src: url("../russianrail-g-pro.woff") format("woff");
}

body {
    font-family: "RussianRail G Pro";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0;
    background: #1616e1;
    ;
}

.nav__info {
    width: 100%;
}

.info {
    display: flex;
    padding: 0;
    margin: 0;
    align-content: space-around;
    justify-content: left;
}

.title {
    margin: 0;
    padding: 0;
    margin-left: 100px;
    font-size: 70px;
    color: #FFF;
}

.main-page {
    font-family: 'IBM Plex Sans', sans-serif;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    /* padding: 50px; */
}

.upload-form {
    flex-direction: column;
    justify-content: center;
    position: relative;

    cursor: pointer;
    max-width: 500px;
    border: 3px solid #fff;
    border-radius: 50px;


    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: rgba(71, 107, 240, 0);
    

    margin-left: 0px;
    transition: all 0.3s;
    width: 480px;
    height: 320px;
    font-size: 25px;

    
    margin-right: 100px;
}

.upload-form__title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    width: 100%;
    /* height: 100%; */
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    z-index: 1;
}

.upload-form input {
    position: absolute;
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    z-index: 10;
}

.upload-form button {
    position: relative;
    cursor: pointer;
    top: 70px;
    margin: 0;
    padding: 10px;
    color: #fff;
    background: rgb(226, 26, 26);
    border: none;
    width: 508px;
    margin-top: 20px;
    margin-left: -4px;
    border-radius: 4px;
    border-bottom: 4px solid rgb(125, 12, 12);
    transition: all .2s ease;
    outline: none;
    font-size: 24px;
}

.upload-form button:hover {
    background: rgba(226, 26, 26, 0.8);
}

.upload-form button:active {
    background: rgba(226, 26, 26, 0.7);
    border-radius: 4px;
    border-bottom: 4px solid rgb(125, 12, 12);
}

.highlight {
    display: inline-flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;

    height: 48px;

    background: rgb(226, 26, 26);
}


.main {

    font-style: normal;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.main .container {
    max-width: 480px;
    margin: 0 auto;
    box-sizing: border-box;
}

.main__drop-file-input {
    margin: 0 auto;
}

.drop-file-input {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #7751CA 0%, #5641E4 100%);
    box-shadow: 0px 8px 30px #2F008C;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 30px;
    gap: 20px;
    width: 460px;
    max-height: 530px;
}

.drop-file-input__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.drop-file-input__import-file {
    box-sizing: border-box;
    border: 3px dashed #FFFFFF;
    border-radius: 20px;
}

.drop-file-input__uploaded-file {
    margin: 0;
}



.header-div{
    width: 100%;
    height: 70px;
    background: #f4f6fa;

}


.gas{
    padding-top: 40px;
    padding-left: 60px;
}


.go-watch{
    border: 3px solid #fff;
    border-radius: 35px;
    width: 230px;
    height: 101px;
    background: rgba(71, 107, 240, 0);
    margin-left: 950px;
    
}


button:hover{
    color: #5353e0;
}
.go-watch-text{
    color: #FFF;
    font-size: 20px;
}

button:active {
    box-shadow: inset 0 0 35px rgba(0, 0, 0, .5);
}

.spin-img{
    padding-top: 0px;
    width: 420px;
    padding-left: 10px;    
    rotate: 360;


}

.mn{
    padding-top: 50px;
}



.spin-img{
position: relative;
animation: 3s linear infinite rotate;
}

.pivont-point {
position: absolute;
top: 50%;
left: 50%;

color: #363636;
font-size: 30px;

transform: translate(-50%, -50%);
}

@keyframes rotate {
from {
    transform: rotate(0deg);
}

to {
    transform: rotate(360deg);
}
}


.upload-form__title{
    padding-top: 140px;
    font-size: 27px;
}


.upload_img{
    padding-left: 130px;
}