body {
    font-family: "RussianRail G Pro";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0;
    background: #1616e1;
    display: flex;
    flex-direction: column;
}


.gas{
    padding-top: 40px;
    padding-left: 60px;
}

.main{
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    
}

.characteristics{
    display: flex;
    flex-direction: column;
    font-size: large;
    color: white;
    margin-right: 250px;
}

.translation{
    width: 850px; 
    height:500px; 

    background: black;

}

.grafics-area{

    display: flex; 
    justify-content: center;
}

.grafics{
    display: flex; 
    justify-content: center;
    margin-top: 200px;
    width: 1300px; 
    height:500px; 

    background: white;

}